table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif; 
}
table.no-border {
    border: none
}

div.cell-text {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: xx-large;
    color: blue;
    
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    font-family: Arial, Helvetica, sans-serif; 
}

a:link {
    text-decoration: none;
}
p.arabic-text {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: x-large;
    color: blue;
    
}

pre.arabic-text {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: x-large;
    color: blue;
    
}
